
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav Style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}
.nav-logo{
    font-weight: 800px;
    font-size: 43px;
}
.PC{
    color: #fd6e01;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-li{
    color: #474747;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
}
.btn-p{
    background-color: #fd6e01;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}

/* Hero CSS */

.banner-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    min-height: 100vh;
    background-image: ;
    /* margin: 0px 35px 0px 120px; */

}
.banner-Greetings{
    font-size: 45px;
    font-weight: 500;
    color: #474747;
}
.Banner-heading{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
}
.banner-description{
    color: #474747;
    font-size: 18px;
    font-weight: 400;
    
}
