
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3{
    font-size: 35px;
    font-weight: 600;
}

/* Nav Style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}
.nav-logo{
    font-weight: 800px;
    font-size: 43px;
}
.PC{
    color: #fd6e01;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-li{
    color: #474747;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
}
.btn-p{
    background-color: #fd6e01;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}

/* Hero CSS */

.banner-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    min-height: 100vh;
    background-image: ;
    margin: 0px 35px 0px 120px;

}
.banner-Greetings{
    font-size: 45px;
    font-weight: 500;
    color: #474747;
    padding: 0px;
}
.Banner-heading{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    padding: 0px;
    padding: 0px;
}
.banner-description{
    color: #474747;
    font-size: 18px;
    font-weight: 400;
    padding: 0px;
    
}

/* About Style */

main{
    max-width: 1140px;
    margin: 0px auto;
}

.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 130px 0px


}
.About-card-wrapper{
    display: flex;
    justify-content: space-around;
    
}
.about-card-name{
    font-weight: 700;
    font-size: 20;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

.about-heading{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-description{
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #474747;
}



/* skill Style */
.skill{
    text-align: center; 
}
.skill-heading{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.skill-para{
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    margin: 0px 110px;
}